.new-user {
  font-family: 'Handlee', cursive;
  margin-top: 10px;
  font-size: 25px;
  height: 100vh;
  background-color: lightseagreen;
}

form {
  font-family: 'Handlee', cursive;
  font-size: 25px;
  background-color: lightseagreen;
}

.signupform {
  font-family: 'Handlee', cursive;
  font-size: 25px;
  background-color: lightseagreen;
  height: 100vh;
}
